#searchElasticSettings .icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 8px;
}

#searchElasticSettings input[type="text"], #searchElasticSettings input[type="password"] {
	width: 200px;
}

#searchElasticSettings select {
	width: 215px;
}

/*
 * core/css/share.css uses text-transform:lowercase which looks
 * bad here. Revert it for our elements
 */
#searchElasticSettings .select2-search-choice {
	text-transform: none;
}

#searchElasticSettings div.field-margin-left-16 > div {
	margin: 5px 5px 5px 0px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.field-margin-left-16 {
	margin-left: 16px;
}
