parameters:
  bootstrap: %currentWorkingDirectory%/../../lib/base.php
  autoload_directories:
    - %currentWorkingDirectory%/appinfo/Migrations
  excludes_analyse:
    - %currentWorkingDirectory%/appinfo/Migrations
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    - message: '#Cannot access offset.*#'
      path: %currentWorkingDirectory%/lib/SearchElasticService.php
    - '#Call to an undefined method [a-zA-Z0-9\\_]+#'
    - message: '#Else branch is unreachable#'
      path: %currentWorkingDirectory%/lib/Hooks/Files.php
    - message: '#Else branch is unreachable#'
      path: %currentWorkingDirectory%/lib/Search/ElasticSearchProvider.php
    - message: '#Argument of an invalid type [a-zA-Z0-9\\_]+ supplied for foreach, only iterables are supported#'
      path: %currentWorkingDirectory%/lib/SearchElasticService.php
    - message: '#OCA\\Encryption#'
      path: %currentWorkingDirectory%/lib/Jobs/UpdateContent.php
    - message: '#OCA\\Search_Elastic\\Search\\ElasticSearchResult.* does not call parent#'
      path: %currentWorkingDirectory%/lib/Search/ElasticSearchResult.php